<?xml version="1.0" encoding="utf-8" ?>
<Defs>
	<XmlExtensions.SettingsMenuDef>
		<modId>Daria40K.MightyPersonaBondForgePatch</modId>
		<label>Mighty Persona Bond Forge Patch Mod</label>
		<defName>Daria40K_MightyPersonaBondForgePatch</defName>
		<settings>
			<li Class="XmlExtensions.Setting.Text">
				<text>Mighty Persona Bond Forge Patch Mod</text>
				<font>Medium</font>
				<anchor>Middle</anchor>
				<tKey>Daria40K_MightyPersonaBondForgePatch_title</tKey>
			</li>
			<li Class="XmlExtensions.Setting.GapLine"/>
			<li Class="XmlExtensions.Setting.Text">
				<text>Enable/disable which mods are affected. Game needs to be reloaded for patches to be applied.</text>
				<anchor>Middle</anchor>
				<tKey>Daria40K_MightyPersonaBondForgePatch_description</tKey>
			</li>
			<li Class="XmlExtensions.Setting.Text">
				<text>Note: Disabling mod patches mid save can cause problems. Be sure to backup save before doing so.</text>
				<anchor>Middle</anchor>
				<tKey>Daria40K_MightyPersonaBondForgePatch_description</tKey>
			</li>

			<li Class="XmlExtensions.Setting.TabView">
				<rows>1</rows>
				<tabs>
					<li>
						<label>WeaponsTab</label>
						<tKey>Daria40K_MightyPersonaBondForgePatch_WeaponsTab</tKey>
						<settings>
							<li Class="XmlExtensions.Setting.Text">
								<text>Disabling any of the mods below will disable support for that mod.</text>
								<anchor>Middle</anchor>
								<tKey>Daria40K_MightyPersonaBondForgePatch_descriptionDisableAllObsidiaExpansion</tKey>
							</li>

							<li Class="XmlExtensions.Setting.Gap"/>
						</settings>
					</li>

					<li>
						<label>Persona Bond Forge</label>
						<tKey>Daria40K_MightyPersonaBondForgePatch_PersonaBondForgeTab</tKey>
						<settings>
							<li Class="XmlExtensions.Setting.Text">
								<text>Disabling any of the mods below will only disable crafting for that mod with Persona Bond Forge. Using "Disable all Persona Bond Forge crafting" will disable all mods weapon crafting with Persona Bond Forge regardless if they are enabled or not.</text>
								<anchor>Middle</anchor>
								<tKey>Daria40K_MightyPersonaBondForgePatch_descriptionDisableAllPersonaBondForge</tKey>
							</li>

							<li Class="XmlExtensions.Setting.Checkbox">
                                <key>Daria40K_MightyPersonaBondForgePatch_DisablePersonaBondForge</key>
                                <label>Disable all Persona Bond Forge crafting</label>
                                <defaultValue>false</defaultValue>
                            </li>

							<li Class="XmlExtensions.Setting.GapLine"/>

							<li Class="XmlExtensions.Setting.Gap"/>
						</settings>
					</li>

					<li>
						<label>Obsidia Expansion</label>
						<tKey>Daria40K_MightyPersonaBondForgePatch_ObsidiaExpansionTab</tKey>
						<settings>
							<li Class="XmlExtensions.Setting.Text">
								<text>Disabling any of the mods below will only disable crafting for that mod with Obsidia Expansion. Using "Disable all Obsidia Expansion crafting" will disable all mods weapon crafting with Obsidia Expansion regardless if they are enabled or not.</text>
								<anchor>Middle</anchor>
								<tKey>Daria40K_MightyPersonaBondForgePatch_descriptionDisableAllObsidiaExpansion</tKey>
							</li>

							<li Class="XmlExtensions.Setting.Checkbox">
                                <key>Daria40K_MightyPersonaBondForgePatch_DisableObsidiaExpansion</key>
                                <label>Disable all Obsidia Expansion crafting</label>
                                <defaultValue>false</defaultValue>
                            </li>

							<li Class="XmlExtensions.Setting.GapLine"/>

							<li Class="XmlExtensions.Setting.Gap"/>
						</settings>
					</li>
				</tabs>
			</li>
			<li Class="XmlExtensions.Setting.Gap"/>

			<li Class="XmlExtensions.Setting.GapLine"/>
			<!-- ===== Settings ===== -->
			
			<li Class="XmlExtensions.Setting.ResetSettings"/>
		</settings>
		
		<!--DefDatabase operations will be injected here-->
		<postCloseActions/>
	</XmlExtensions.SettingsMenuDef>
</Defs>