<?xml version="1.0" encoding="utf-8" ?>
<Defs>
	<XmlExtensions.SettingsMenuDef>
		<modId>Daria40K.MightyPersonaBondForgePatch</modId>
		<label>Mighty Persona Bond Forge Patch Mod</label>
		<defName>Daria40K_MightyPersonaBondForgePatch</defName>
		<settings>
			<li Class="XmlExtensions.Setting.Text">
				<text>Mighty Persona Bond Forge Patch Mod</text>
				<font>Medium</font>
				<anchor>Middle</anchor>
				<tKey>Daria40K_MightyPersonaBondForgePatch_title</tKey>
			</li>
			<li Class="XmlExtensions.Setting.GapLine"/>
			<li Class="XmlExtensions.Setting.Text">
				<text>Enable/disable which mods are affected. Game needs to be reloaded for patches to be applied.</text>
				<anchor>Middle</anchor>
				<tKey>Daria40K_MightyPersonaBondForgePatch_description</tKey>
			</li>
			<li Class="XmlExtensions.Setting.Text">
				<text>Note: Disabling mod patches mid save can cause problems. Be sure to backup save before doing so.</text>
				<anchor>Middle</anchor>
				<tKey>Daria40K_MightyPersonaBondForgePatch_description</tKey>
			</li>
			<li Class="XmlExtensions.Setting.GapLine"/>
			<!-- ===== Settings ===== -->
			
			
			<!--All mood settings will be injected here-->
			
			<li Class="XmlExtensions.Setting.ResetSettings"/>
		</settings>
		
		<!--DefDatabase operations will be injected here-->
		<postCloseActions/>
	</XmlExtensions.SettingsMenuDef>
</Defs>